header {
    width: 100%;
    height: 50px;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
}

.home_logo {
    width: 450px;
    height: 60px;
    border-radius: 50px;
    background-color: #121422;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home_logo_x {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 100;
}

.home_logo:hover {
    box-shadow: 4px 4px 8px 0px #0d0f21;
    transform: translateY(-2px);
}



.lang-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    background-color: #121422;
    padding-left: 10px;
    width: 150px;
    min-width: 100px;
}


/* Media Query pour les petits écrans */
@media (max-width: 650px) {
    .home_logo {
        width: 110px;
        height: 40px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .header_nav {
        flex-direction: row; /* Maintenir la direction de la flexbox */
    }

    .ul_nav {
        display: none; /* Masquer le menu par défaut sur les petits écrans */
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50px; /* Positionnement en dessous de l'en-tête */
        left: 0;
        background-color: rgba(0, 0, 255, 0);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
        z-index: 1000;
    }

    .ul_nav.open {
        display: flex; /* Afficher le menu lorsque la classe 'open' est ajoutée */
        margin-top: 40px;
    }

    .underline-on-hover {
        font-size: 16px; /* Taille de police ajustée pour petits écrans */
        padding: 20px;
        text-align: center;
    }

    .hamburger {
        display: flex; /* Afficher le menu hamburger sur les petits écrans */
        margin-top: 15px;
    }

    .lang-menu {
        position: absolute;
        right: 75px;
        top: 15px;
        width: 100px;
    }
}
